.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 900;        
  font-size: 120px;
  line-height: 120px;      
  letter-spacing: 0;
  text-transform: uppercase;
}

.text2 {
  font-family: "Milonga", serif;
  font-weight: 400;      
  font-size: 28px;
  line-height: 1;        
  letter-spacing: 0;
}
.text1 {
  font-family: "Milonga", serif;
  font-weight: 400;        
  font-size: 32.26px;
  line-height: 1;          
  letter-spacing: 0;
}
.nav-item {
  font-family: "Milonga", serif;
  font-weight: 400;     /* Regular */
  font-size: 16px;
  line-height: 1;       /* 100% */
  letter-spacing: 0;
}


